@import './reset.css';

.ba-1 {
    border: 1px solid black !important;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.vertical-center {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}